/**
 * @name Skype for Discord
 * @description Customize Discord like Skype Style!
 * @author BruOnline
 * @version 1.0.0
 * @authorId 843203395477438496
 * @invite Jx3TjNS
 */

@import url('https://fonts.googleapis.com/css2?family=Tahoma:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 135,206,235;
  --accentcolor2: 95,167,227;
  --linkcolor: 95,167,227;
  --mentioncolor: 95,167,227;
  --textbrightest: 0,0,0;
  --textbrighter: 0,0,0;
  --textbright: 0,0,0;
  --textdark: 0,0,0;
  --textdarker: 245,245,245;
  --textdarkest: 0,0,0;
  --font: Tahoma;
  --backgroundaccent: 95,167,227;
  --backgroundprimary: 245,245,245;
  --backgroundsecondary: 245,245,245;
  --backgroundsecondaryalt: 95,167,227;
  --backgroundtertiary: 95,167,227;
  --backgroundfloating: 245,245,245;
  --settingsicons: 1;
}

/* Any custom CSS below here */


